**/*.elf
**/*.hex
**/*.map
**/*.o
**/.ninja_log
**/list_job_1.txt
**/size_info.txt
**/__pycache__/
# Dev
compile_commands.json
# Kicad
**/*.bak
**/fp-info-cache
**/*.kicad_prl
**/*.zip
**/*.*.lck
**/_autosave-*.kicad_sch
**/#auto_saved_files#

**/build
**/build_esp32*/

# stm32cubeide
**/Debug
**/Release
**/mx.scratch
