[submodule "physics_sim/glitter/vendor/assimp"]
	path = physics_sim/glitter/vendor/assimp
	url = git@github.com:assimp/assimp.git
[submodule "physics_sim/glitter/vendor/glfw"]
	path = physics_sim/glitter/vendor/glfw
	url = git@github.com:glfw/glfw.git
[submodule "physics_sim/glitter/vendor/glm"]
	path = physics_sim/glitter/vendor/glm
	url = git@github.com:g-truc/glm.git
[submodule "physics_sim/glitter/vendor/stb"]
	path = physics_sim/glitter/vendor/stb
	url = git@github.com:nothings/stb.git
[submodule "physics_sim/glitter/vendor/bullet"]
	path = physics_sim/glitter/vendor/bullet
	url = git@github.com:bulletphysics/bullet3.git
[submodule "physics_sim/glitter/vendor/glad"]
	path = physics_sim/glitter/vendor/glad
	url = git@github.com:Dav1dde/glad.git
